.proc-form-item {
  width: 100%;
}

.form-box {
  background-color: white;
  border-radius: 15px;
  padding: 50px;
  margin-bottom: 2rem;
}

.form-titles {
  margin-bottom: 3rem;
}
.box-chart {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
